node_modules
npm-debug.log*
.DS_Store

coverage
dist
*.tsbuildinfo

.linkedin-assistant

test/fixtures/*
!test/fixtures/manifest.json
!test/fixtures/ci/
!test/fixtures/ci/**
test/fixtures/*/responses/
test/fixtures/*/responses/**
test/fixtures/*/session.har
